#Local:
REACT_APP_USERS_CONTRACT=0x...
REACT_APP_GROUPS_CONTRACT=0x...
REACT_APP_REPORTS_CONTRACT=0x...
REACT_APP_INCIDENCES_CONTRACT=0x...
REACT_APP_ADMIN_REQUESTS_CONTRACT=0x...

#IPFS
REACT_APP_PINATA_JWT=tu_token_jwt_de_pinata
REACT_APP_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
REACT_APP_IPFS_UPLOAD_URL=https://api.pinata.cloud/pinning/pinJSONToIPFS
REACT_APP_IPFS_FILE_UPLOAD_URL=https://api.pinata.cloud/pinning/pinFileToIPFS